<%- include('../partials/head') %>
<link rel="stylesheet" href="login.css" />
</head>
<body>
  <%- include('../partials/nav') %>

  <div class="login-wrapper">
    <div class="login-box">
      <h2>Welcome Back</h2>
      <p class="subtitle">Login to your Airbnb account</p>
      <form method="POST" action="/login" class="login-form">
        <%- include('../partials/errors') %>
        <div class="input-group">
          <label for="email">Email address</label>
          <input type="email" name="email" id="email" value="<%= oldInput.email ?oldInput.email :'' %>" placeholder="Enter your email" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your password" required />
        </div>
        <button type="submit">Login</button>
      </form>
      <p class="bottom-text">Don’t have an account? <a href="/signup">Sign up</a></p>
    </div>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
